.article {
  min-width: 165px;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.content h3 {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
