.article {
  position: relative;
  min-width: 165px;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--color-gray-200);
}

.link {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.favoriteButton {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
}
