.container {
  max-width: 1200px;
  padding: 24px 16px;
  margin: 0 auto;
}

.container p {
  text-align: center;
  margin-bottom: 12px;
}

.icons {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
}

.icons svg {
  height: 16px;
  width: max-content;
}
