.container {
  max-width: 900px;
  padding: 32px 0;
  margin: 0 auto;
  border-top: 1px solid var(--color-gray-200);
}

.container p {
  text-align: center;
  margin-bottom: 12px;
}

.icons {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
}

.icons svg {
  height: 16px;
  width: max-content;
}
