.main {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
