.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  overflow: hidden;
  border-radius: 50%;
  color: var(--color-foreground);
  background-color: var(--color-background-50);
}

.wrapperSmall {
  width: 32px;
  height: 32px;
}

.wrapperLarge {
  width: 50px;
  height: 50px;
}

.svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.track {
  fill: none;
  stroke: var(--color-gray-700);
  stroke-width: 8;
  opacity: 0.4;
}

.progress {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease;
}

.progress.bad {
  stroke: var(--color-red);
}

.progress.neutral {
  stroke: var(--color-amber);
}

.progress.good {
  stroke: var(--color-green);
}

.value {
  position: absolute;
  display: inline-flex;
  align-items: flex-start;
  gap: 1px;
  font-weight: 600;
  line-height: 1;
}

.valueNumber {
  line-height: 1;
}

.valueNumberSmall {
  font-size: 10px;
}

.valueNumberLarge {
  font-size: 16px;
}

.percentSymbol {
  line-height: 1;
}

.percentSymbolSmall {
  font-size: 7px;
}

.percentSymbolLarge {
  font-size: 10px;
}
