.main {
  min-height: calc(100svh - var(--main-height));
}

.backdropContainer {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backdropOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(6, 6, 12, 0.65),
    rgba(6, 6, 12, 0.85)
  );
}

.backdropContent {
  position: relative;
  min-height: calc(100svh - var(--main-height));
  max-width: 1280px;
  margin: auto auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 3rem clamp(1.5rem, 5vw, 6rem);
  z-index: 1;
}

.poster {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--color-gray-200);
}

.info {
  max-width: 800px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}

.year {
  font-weight: 400;
}

.ratingBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ratingLabels {
  display: flex;
  flex-direction: column;
}
