.main {
  min-height: 78svh;
}

.container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  margin-bottom: 32px;
}

.backgroundImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center bottom;
}
