.main {
  min-height: 100svh;
}

.container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  margin-bottom: 32px;
}

.backgroundImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center top;
}
