.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  transition: ease 0.2s;
}

.buttonLarge {
  width: 45px;
  height: 45px;
}

.buttonLarge svg {
  height: 22px;
  width: auto;
}

.button:hover {
  background: var(--color-red);
}
